.tab-self::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: #ddd;
  transform-origin: 50% 100%;
  transform: scaleY(0.5);
}
.am-list-item {
  padding: 15px;
}
.tab-self.active {
  color: #108ee9;
}
.bottom-line {
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.bottom-line.active {
  background-color: #108ee9;
}

.loading-container {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: -1;
  pointer-events: none;
}
.loading-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: 'flex';
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.loading-container > span {
  width: 8px;
  height: 40px;
  border-radius: 4px;
  margin-right: 8px;
  animation: loading 0.6s alternate infinite;
}
.loading-container > span:last-child {
  margin-right: 0;
}

.loading-container > span:nth-child(2) {
  animation-delay: 0.2s;
}
.loading-container > span:nth-child(3) {
  animation-delay: 0.3s;
}
.loading-container > span:nth-child(4) {
  animation-delay: 0.4s;
}
.loading-container > span:nth-child(5) {
  animation-delay: 0.5s;
}
@keyframes loading {
  0% {
    height: 40px;
    background-color: lightgreen;
  }
  100% {
    height: 80px;
    background-color: lightblue;
  }
}
